<%- include('./partials/head') %>


<section>

    <audio id="myAudio">
        <source src="/assets/promotionYS.mp3" type="audio/mpeg">
      </audio>
    <button onclick="playSong()">Test</button>
    
</section>


<%- include('./partials/foot') %>