* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 5%;
    margin-top: calc(-7.5%);
}

.post {
    margin: 10%;
    width: 100%;
}


h2 {
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.post-img {
    height: 13em;
    width: 100%;
    border-radius: .25em;
    object-fit: cover;
}

ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 0% 3% 0% 3%;
    justify-content: center;
}

.post-info {
    margin: 4% 0% 4% 0%;
}

li {
    font-size: 1em;
    margin: 2%;

    &.author {
        font-weight: bold;
    }

    &.read-time {
        font-weight: 700;
        color: rgb(99, 99, 101);
    }
}

p {
    margin-top: 5%;
}

@media (min-width: 28em) {

    .post-img {
        height: calc(13em + 4em);
    }
}

@media (min-width: 34em) {

    h2 {
        margin-bottom: 0%;
    }

    .post-img {
        height: calc(13em + 6em);
    }

    li {
        margin: 0% 2% 0% 2%;
    }
}

@media (min-width: 36em) {

    main {
        margin: calc(5% + 5%);
        margin-top: calc(10% - 15%);
    }

}

@media (min-width: 43em) {

    main {
        margin: calc(5% + 10%);
        margin-top: calc(10% - 15%);
    }

}

@media (min-width: 48em) {

    main {
        margin: calc(5% + 12%);
        margin-top: calc(10% - 15%);
    }


}

@media (min-width: 53em) {

    main {
        margin: calc(5% + 15%);
        margin-top: calc(10% - 15%);
    }


}

@media (min-width: 58em) {

    main {
        margin: calc(5% + 17.5%);
        margin-top: calc(10% - 16%);
    }


}

@media (min-width: 68em) {

    main {
        margin: calc(5% + 20%);
        margin-top: calc(10% - 13%);
    }


}

@media (min-width: 75em) {

    main {
        margin: calc(5% + 22.5%);
        margin-top: calc(10% - 15%);
    }


}