* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --main-bg-color: ##F7F7F5;
    --text-color: #000000;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

/* Nav styling */

nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
}

